@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a, #3a4452);
}

.calculator {
    border: 1px solid#717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}


input::placeholder {
    color: white;
}

button {
     width: 60px;
     border: none; 
     height: 60px;
     margin: 10px; 
     border-radius: 50%;
     background: transparent;
     color: white;
     font-size: 20px;
     box-shadow: -8px -8px 15px rgba(255,255,255, 0.1);
     cursor: pointer;
}

.equalBtn {
    background-color: orange;

}


.operator {
    color: green;
}